.paper {
	width: 100%;
}

@media (min-width: 600px) {
	.paper {
		width: 450px;
	}
}

.form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.header {
	padding: 24px 24px 16px;
}

.body {
	padding: 24px;
	flex-grow: 1;
	overflow-y: auto;
}

.typeControl {
	margin-top: 8px;
}

.optionsField {
	margin-top: 24px !important;
}

.requiredBox {
	background: var(--color-bg);
	padding: 16px;
	border-radius: 8px;
}

.footer {
	padding: 24px;
	background: var(--color-surface);
}
