.wrapper {
	padding-top: 8px;
}

@media (min-width: 900px) {
	.wrapper {
		padding-top: 16px;
	}
}

.paper {
	padding: 16px;
	border-radius: 16px !important;
	background: var(--color-surface);
}

@media (min-width: 900px) {
	.paper {
		padding: 24px;
	}
}

.description {
	max-width: 720px;
}

.title {
	font-weight: 900 !important;
}
